@font-face {
	font-family: 'VCR';
	src: url('assets/fonts/vcr.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0); /* Transparent dark background */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	font-family: VCR, sans-serif;
	z-index: 10; /* Overlay on top of the canvas */
}
