@font-face {
	font-family: 'VCR';
	src: url('assets/fonts/vcr.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#messageBox {
	position: absolute;
	top: 2%;
	left: 2%;

	background: rgba(0, 0, 0, 0); /* Transparent dark background */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 0.8rem;
	font-family: VCR, sans-serif;
	z-index: 10; /* Overlay on top of the canvas */
}
